.feed {
    display: flex;
    margin-top: 50px;
    justify-content: center;
    align-items: center;
    position: relative;
    background-color: rgba(var(--b3f, 250, 250, 250), 1);
    height: 100%;

    &_wrapper {
        width: 900px;
        height: 100%;
        display: flex;

        .feed_left {
            width: 70%;

            .feed_stories {
                margin-top: 20px;
                width: 100%;
                height: 100px;
                border: 0.2px solid gray;
                margin-bottom: 20px;
                background-color: rgb(255, 255, 255);
            }
            .feed_posts {
                height: 100%;
                width: 100%;
                background-color: gray;
            }
        }
        .feed_right {
            width: 20%;
            margin-left: 20px;
            margin-top: 100px;
            position: fixed;
            top: 0;
            right: 220px;
            &_top {
                width: 100%;
                display: flex;
                justify-content: center;
                align-items: center;
                &_left {
                    padding: 10px;
                    .feed_right_img {
                        width: 40px;
                        height: 40px;
                        border-radius: 50%;
                    }
                }
                &_center {
                    padding: 10px;
                    display: flex;
                    flex-direction: column;

                    justify-content: center;
                }
                .rightSide {
                    // padding: 10px;
                    // display: flex;
                    // width: 100%;
                    // align-items: center;
                    // justify-content: space-between;
                    margin-left: 90px;
                    color: rgba(var(--d69, 0, 149, 246), 1);

                    // .feed_right_logout {
                    //     color: rgb(91, 186, 218);
                    // }

                    &:hover {
                        cursor: pointer;
                    }
                }
            }
            &_middle {
                display: flex;
                justify-content: space-between;

                .feed_middle_text1 {
                    color: #8e8e8e;
                }
            }
            &_bottom {
                width: 100%;
                margin-top: 20px;
            }
            &_footer {
                margin-top: 15px;
                .footerTop {
                    width: 100%;
                    margin-bottom: 10px;
                    .footerItem {
                        display: flex;
                        flex-wrap: wrap;
                        .footerItems {
                            list-style: none;
                            margin: 5px;
                            color: #8e8e8e;
                            &:hover {
                                cursor: pointer;
                            }
                        }
                    }
                }
                .footerBottom {
                    // padding: 10px;
                    color: #8e8e8e;

                    font-size: 13px;
                }
            }
        }
    }
}

@media screen and (max-width: 1024px) {
    .feed {
        &_wrapper {
            .feed_left {
                width: 70%;
            }
            .feed_right {
                right: 80px;
            }
        }
    }
}

@media screen and (max-width: 768px) {
    .feed {
        &_wrapper {
            .feed_left {
                .feed_stories {
                    height: 58px;
                }
                width: 100%;
            }
            .feed_right {
                display: none;
            }
        }
    }
}
