.navbar {
    width: 100%;
    height: 54px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-bottom: 1px gray solid;
    position: fixed;
    top: 0;
    z-index: 999;
    background-color: white;
    overflow-x: unset;
    &_center {
        display: flex;
        height: 100%;
        width: 976px;
        align-items: center;
        justify-content: center;
        &_wrapper {
            height: 100%;
            width: 99%;
            display: flex;
            justify-content: space-between;
            align-items: center;

            .navbar_left {
                width: 40%;
                &_wrapper {
                    display: flex;
                    &_image {
                        width: 103px;
                        height: 29px;
                    }
                }
            }
            .navabar_center {
                border-radius: 4px;
                display: flex !important;
                width: 20%;
                justify-content: center;
                align-items: center;
                &_wrapper {
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    border-radius: 4px;
                    position: relative;
                    border: 0.2px solid rgba(var(--b6a, 219, 219, 219), 1);
                    .navbar_center_title {
                        position: absolute;
                        right: 69px;
                        font-size: 15px;
                        color: gray;
                    }
                    .navbar_center_icon {
                        position: absolute;
                        top: 4px;
                        right: 110px;
                        color: rgb(148, 148, 148);
                    }
                    .navbar_center_input {
                        width: 100%;
                        border: none;
                        outline: none;
                        height: 22px;
                        border-radius: 4px;

                        background: rgba(var(--b3f, 250, 250, 250), 1);
                    }
                }
            }
            .navbar_right {
                width: 40%;
                display: flex;
                align-items: center;
                justify-content: flex-end;
                &_wrapper {
                    position: relative;
                    display: flex;
                    justify-content: flex-end;
                    .navbar_right_icons {
                        margin-left: 10px;
                        font-size: 25px;
                    }
                    .navbar_right_up {
                        position: absolute;
                        background-color: red;
                        border-radius: 50%;
                        width: 16px;
                        height: 16px;
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        left: 58px;
                    }
                    .navbar_right_user {
                        width: 25px;
                        height: 25px;
                        border-radius: 50%;
                        margin-left: 10px;
                        margin-bottom: 4px;
                    }
                }
            }
        }
    }
}

@media screen and (max-width: 768px) {
    .navbar {
        &_center {
            &_wrapper {
                .navabar_center {
                    background-color: red;
                    display: none !important;
                }
            }
        }
    }
}
